{{#>layout}}
<!-- NAV -->
{{!-- <nav>
  <ul>
    <img src='img/dumbways.png' alt='Logo Dumbways' width='7%' />
    <li><a href=''>Home</a></li>
    <li><a href='myproject'>My Project</a></li>
    <div class='dropdown'>
      <a href='#' class='other'>Others ⮟</a>
      <div class='content'>
        <a class='active' href='blog'>Blog</a>
        <a href='testimonial'>Testimonial</a>
      </div>
    </div>
  </ul>
  <a class='contactme' target='_blank' href='form'>Contact Me</a>
</nav> --}}
<!-- NAV -->
{{!-- <h1>Create Post Blog</h1>
<!-- FORM -->
<form action='' onsubmit='addBlog()'>
  <div class='form-field'>
    <label for='title'>Title</label>
    <input type='text' id='title' required />
  </div>
  <div class='form-field'>
    <label for='content'>Your Blog Content</label>
    <textarea name='content' id='content' rows='5'></textarea>
  </div>
  <div class='form-field'>
    <label for='image'>Upload Image</label>
    <input type='file' id='image' name='image' />
  </div>
  <div class='button'>
    <button class='submit' type='submit'>submit</button>
  </div>
</form>

<!-- BLOG LIST -->
<hr /> --}}

<h1 class="text-center mt-5 mb-5"><b>BLOGS</b></h1>
{{#if user}}
<div class="text-center m-5">
  <a class="btn btn-dark" href="addblog">Create Blog</a>
</div>
{{/if}}
{{!-- <section id='blogList' class='blogList'>
  <article class='blog-item'>
    <div class='blog-image'>
      <img src='img/cars.jpg' width='100%' alt='' />
    </div>
    <div class='blog-article'>
      <div class='blog-item-button'>
        <button class='edit'>Edit Blog</button>
        <button class='push'>Push Blog</button>
      </div>
      <h2>Pasar Coding Indonesia</h2>
      <p class='datetime'>30 Jan 2025 11:45 | Muhammad Rafli Kurniawan</p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni, inventore? Similique atque aliquid veritatis
        pariatur repellendus. Magni illo autem harum molestiae fuga hic quas facere possimus dolorum dolor? Eligendi,
        quod
        dolores cumque placeat blanditiis ratione. Omnis necessitatibus excepturi deleniti? Pariatur excepturi quaerat
        magni! Maxime optio possimus eaque atque, corporis laudantium!
      </p>
      <p class='relative-time-blog'>1 day ago</p>
    </div>
  </article> --}}
  <div style="background-color: var(--secondary-color); padding:10px">
    {{#each blogs}}
    <article class='blog-item'>
      <div class='blog-image'>
        <img src='{{this.image}}' width='100%' alt='' />
      </div>
      <div class='blog-article'>
        {{!-- kalau di dalam scope each blogs di atas, user tidak dikenal --}}
        {{#if (eq ../user.id this.authorId)}} {{!apakah ..user.id(user yang login) sama dengan user authorId(yang di
        blog)}}
        <div class='blog-item-button text-end'>
          <a href="/editblog/{{this.id}}  " action="/blog-edit/{{this.id}}" class='btn btn-warning'> <span>Edit
              Blog</span><i class="fas fa-edit"></i></a>
          <form style="display:inline" action="/blog/{{this.id}}?_method=DELETE" method="post"
            onclick="return submitForm(this, event)">
            <button onclick="" class='btn btn-danger' type="submit">
              <span>Delete
                Blog</span><i class="fa-solid fa-trash"></i></button>
          </form>
        </div>
        {{/if}}
        <a href="/blog/{{this.id}}">
          <h3 class="text-dark mt-3">{{this.title}}</h3>
        </a>
        <p class='datetime'>{{formatDateToWIB this.createdAt}} | {{this.user.name}}</p>
        <p class="blog-title-desktop">
          {{{truncate this.content 100}}}
        </p>
        <p class="blog-title-mobile">
          {{{truncate this.content 50}}}
        </p>
        <p class='relative-time-blog text-end'>{{getRelativeTime this.createdAt}}</p>
      </div>
    </article>
    {{/each}}
  </div>
  {{!--
</section> --}}
{{!--
<script src='js/blog.js'></script> --}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>'
<script>
  function submitForm(form, event) {
    event.preventDefault();
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!"
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: "Deleted!",
          text: "Your file has been deleted.",
          icon: "success"
        }).then(() => {
          form.submit()
        })
      }
    });
  }
</script>

{{/layout}}