{{!--
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/blog-detail.css" />
</head>

<body>
  <nav>
    <ul>
      <img src="assets/img/dumbways.png" alt="Logo Dumbways" width="7%" />
      <li class="active"><a href="">Home</a></li>
      <li><a href="">My Project</a></li>
    </ul>
    <!-- <a class="contactme" target="_blank" href="https://shorturl.at/SFVoV">Contact Me</a> -->
  </nav> --}}
  {{#>layout}}
  <article class="blog-item">
    <section class="blog-detail mx-auto">
      <h1 class="text-center">{{blog.title}}</h1>
      <p class="text-center">{{formatDateToWIB blog.createdAt}} | {{blog.user.name}}</p>
      <img src="/{{blog.image}}" class="mb-5" alt="" width="70%" />
      <p class="text-justify mb-5">
        {{blog.content}}
      </p>
    </section>
  </article>
  {{/layout}}
  {{!--
</body>

</html> --}}